# Data Science Tools and Ecosystem

In this notebook, Data Science Tools are summarized.

Language used for data science is
1. R
2. Python
3. SQL

Some of the commonly used libraries for data science includes
1. ggplot
2. matplotlib
3. stringr

| Data Science Tools |
| -------------|
| MongoDB |
| Apache SparkSQL |
| TensorFlow |

### Below are a few examples of Evaluating Arythmatic expressions in Python

In [31]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [29]:
#this will convert 200 miniutes into hours by dividing by 60
200/60

3.3333333333333335

# Author: 
Addison